.vscode/

logger.log
.idea/
patches_output/
__pycache__/
logs/
input/
input/*
ScannedScripts/
*/.env
user/client/.env
user/backend/.env
admin/client/.env
admin/backend/.env
*.h5
ngrok
temp*
old/
user/backend/python-folders
user/backend/users-histories
user/backend/py-files/input
user/backend/py-files/python-folders
package-lock.json
*/node_modules/
node_modules
