.vscode/

logger.log
.idea/
patches_output/
__pycache__/
logs/
input/
input/*
ScannedScripts/
*.h5
ngrok
temp*
old/
flask_project/__pycache__/
flask_project/config.py
!flask_project/templates/
!flask_project/static/
client/node_modules/
backend/node_modules/