:root {
  /*page vars*/
  --clr-login-background-dark: #046364;
  --clr-login-background-light: #0aeef2;

  --box-shadow: 15px 15px 10px 0 rgba(0, 0, 0, 0.4);
  --inputfields-bg: rgba(255, 255, 255, 0.15);
  --input-gap: 1.5em;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.login {
  background: linear-gradient(to bottom, var(--clr-login-background-dark), var(--clr-login-background-light));
  height: 100vh;
}

.login h3 {
  text-align: center;
  font-family: 'Lobster', sans-serif;
  font-size: 3rem;
}

.login-container {
  margin: 0 auto;
  width: 45%;
  padding-top: 10vh;
}

.login-holder {
  padding: 30px 70px;
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  background-color: var(--inputfields-bg);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--input-gap);
}

@media (max-width: 540px) {
  .login-container {
    width: 90%;
  }
  .login-holder {
    padding: 20px 50px;
  }
}

@media (max-width: 360px) {
  .login-holder {
    padding: 20px 30px;
  }
}
