span.MuiButton-contained,
button.MuiButton-contained {
  width: 400px;
  height: 3.5rem;
  background-color: #093263;
  border-radius: 50px;
  color: #f2f2f2;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  outline: none;
}

span.MuiButton-label {
  font-size: 20px;
}
.loader {
  margin-left: 20px;
}
