:root {
  --box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.4);
}

.theallfather {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 5%;
}
.list-item {
  padding: 15px 30px;
  border: 1px solid black;
  margin: 0px 15px;
  border-radius: 10px;
  min-width: 25%;
  margin-bottom: 30px;
  list-style: none;
  padding-left: 15px;
  min-height: 150px;
  gap: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
}

.item-meta {
  width: 200px;
}
.item-date {
  top: 30px;
}

@media screen and (max-width: 1023px) {
  .theallfather {
    gap: 20%;
  }
}
