div.home-holder {
  background-color: bisque;
  height: 100vh;
  padding-top:5%;
  background-color:#043a6c93;

}

div.users-table-container {
  float: left;
  width: auto;
  padding: 10px 10px;
  margin-left: 5%;

}

div.stats-container {
  float: right;
  width: 500px;
  margin-right: 10%;
}

/* div.greeting{
} */

h5{
  float:right;
  margin-right: 20px;
}

h2{
  text-align:center;
  padding: 0px 50px;
}
