:root {
  /*page vars*/
  --clr-background-dark: rgba(206, 168, 104, 1);
  --clr-background-light: rgba(206, 168, 104, 0.4);

  /*register-inputfields vars*/
  /*           offset x, offset y, blur radius, spread, color*/
  --box-shadow: 15px 15px 10px 0 rgba(0, 0, 0, 0.4);
  --inputfields-bg: rgba(255, 255, 255, 0.15);
  --gap: 3em;
}

.register-page {
  background: linear-gradient(
    to bottom,
    var(--clr-background-dark),
    var(--clr-background-light)
  );
  height: 100vh;
}

.register-form {
  justify-content: center;
  align-items: center;
  display: grid;
}

.register-inputfields {
  padding: 30px 70px;
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  background-color: var(--inputfields-bg);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}
