.results {
  text-align: center;
}

.results-text-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.results-text {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
.results-text > *,
.results-text .result {
  font-weight: 900;
}
