.results {
  text-align: center;
}

.results-text-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.results-text {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}
