* {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.navbar {
  background: #093263;
  position: fixed;
  top: 0;
  display: flex;
  min-height: 8vh;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.navbar-holder {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.logo {
  outline: 0;
  border: none;
  height: auto;
  -moz-outline-style: none;
}
.logo img {
  width: 100%;
  max-height: 100%;
}

.active {
  transform: translateX(0%);
}

/* Burger */
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 35px;
  height: 3px;
  margin: 5px;
  background-color: white;
  transition: all 0.3s ease;
}

@media screen and (max-width: 985px) {
  body {
    overflow-x: hidden;
  }

  .navbar-holder {
    position: absolute;
    right: 0px;
    height: 50vh;
    top: 8vh;
    background-color: #093263;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    transform: translateX(130%);
    transition: transform 0.4s ease-in;
    border-top: 1px solid #046364;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  }

  .burger {
    display: block;
    right: 30px;
    top: 5px;
  }
}

@media screen and (max-width: 1350px) {
  .navbar-holder {
    width: 35%;
  }
}

@media screen and (max-width: 1140px) {
  .navbar-holder {
    width: 40%;
  }
}

@media screen and (max-height: 650px), (max-width: 420px) {
  .burger {
    display: block;
    right: 30px;
    top: 3px;
  }
  .logo {
    width: 100px;
  }
}

@media screen and (max-width: 385px) {
  .logo {
    width: 150px;
  }
}

.active {
  transform: translateX(0%);
}

.cross .line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.cross .line-2 {
  opacity: 0;
}
.cross .line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* horizontal view medias */
@media screen and (max-height: 550px) {
  .navbar {
    height: 15vh;
  }
  .navbar-holder {
    top: 15vh;
    height: 60vh;
  }
}

@media screen and (max-height: 320px) {
  .navbar-holder {
    height: 70vh;
  }
}

@media screen and (max-height: 280px) {
  .navbar-holder {
    height: 80vh;
  }
  .logo {
    width: 120px;
  }
}
