button.MuiButtonBase-root {
  background: #d3ad60;
  transition-duration: 0.3s;
}
button.MuiButtonBase-root:hover {
  background: #cc972c;
}
button.MuiButton-text {
  text-transform: capitalize;
  color:#233237;
  font-weight:bold;
}
