button.MuiButtonBase-root {
  background: #fdd5a9;
  transition-duration: 0.3s;
}
button.MuiButtonBase-root:hover {
  background: #e67e22;
}
button.MuiButton-text {
  text-transform: capitalize;
  color: #006266;
}
