/* ---------------------ABOUT------------------------ */

.about {
  background: #9c420b;
  min-height: 100vh;
  padding-top: 10vh;
}
.about > h3 {
  color: #f2f2f2;
}
.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.about-text-holder {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 5px 20px;
  gap: 30px;
}

.about-text-holder p {
  color: rgb(230, 224, 224);
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.image-rotate-holder {
  width: 40%;
  padding-bottom: 50px;
}

.rotating-image {
  width: 90%;
  height: 90%;
}

/* ---------------------WWA------------------------ */
.wwa {
  background: #046364;
  min-height: 100vh;
}

.wwa > * {
  text-align: center;
  color: #f2f2f2;
}

.wwa p {
  font-size: 1.5rem;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 15px;
}
.cards-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}

@media (max-width: 985px) {
  .about-content {
    flex-direction: column;
  }
  .about-text-holder {
    width: 80%;
  }
  .cards-holder {
    flex-direction: column;
  }
}
