.round-image {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  background-size: cover;
  transition: all 0.3s ease-in-out;
}

.round-image:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 8px grey;
}
