:root {
  /*page vars*/
  --clr-background-dark: rgba(206, 168, 104, 1);
  --clr-background-light: rgba(206, 168, 104, 0.4);

  --box-shadow: 15px 15px 10px 0 rgba(0, 0, 0, 0.4);
  --inputfields-bg: rgba(255, 255, 255, 0.15);
  --input-gap: 1.5em;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.login {
  background: linear-gradient(to bottom, var(--clr-background-dark), var(--clr-background-light));
  min-height: 100vh;
  padding-bottom: 20px;
}

h3 {
  text-align: center;
  padding-top: 150px;
}

.login-container {
  margin: 0 auto;
  width: 45%;
}

.login-holder {
  padding: 30px 70px;
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  background-color: var(--inputfields-bg);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--input-gap);
}

/* Vertical responsiveness */
@media (max-width: 540px) {
  .login-container {
    width: 90%;
  }
  h3 {
    padding-top: 80px;
  }
}

@media (max-width: 360px) {
  h3 {
    padding-top: 80px;
  }
}

@media (max-width: 320px) {
  h3 {
    padding-top: 50px;
  }
}

@media (min-width: 375px) and (min-height: 670px) {
  h3 {
    padding-top: 80px;
  }
}

@media (min-width: 400px) and (min-height: 800px) {
  h3 {
    padding-top: 150px;
  }
}

@media (min-width: 750px) and (min-height: 1024px) {
  .login-container {
    width: 90%;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  h3 {
    padding-top: 300px;
  }
}

/* Landscape responsiveness */
@media (max-height: 360px) and (max-width: 640px) {
  h3 {
    padding-top: 80px;
    font-size: 1.5em;
  }
  .login-container {
    width: 90%;
  }
  .login-holder {
    padding-top: 15px;
  }
}

@media (max-height: 540px) and (max-width: 825px) {
  h3 {
    padding-top: 80px;
  }
  .login-container {
    width: 90%;
  }
}
