:root {
  /*page vars*/
  --clr-background-dark: rgba(206, 168, 104, 1);
  --clr-background-light: rgba(206, 168, 104, 0.4);

  /*register-inputfields vars*/
  /*           offset x, offset y, blur radius, spread, color*/
  --box-shadow: 15px 15px 10px 0 rgba(0, 0, 0, 0.4);
  --inputfields-bg: rgba(255, 255, 255, 0.15);
  --input-gap: 1.5em;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.register-page {
  background: linear-gradient(to bottom, var(--clr-background-dark), var(--clr-background-light));
  min-height: 100vh;
  padding-bottom: 20px;
}

.register-form {
  margin: 0 auto;
  width: 90%;
}

.register-inputfields {
  padding: 30px 70px;
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  background-color: var(--inputfields-bg);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--input-gap);
}

@media screen and (max-width: 320px) {
  h3 {
    padding-top: 70px;
  }
}
