.home {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
/* ---------------------LANDING------------------------ */
section.landing {
  text-align: center;
  height: 100vh;
  position: relative;
}

section.landing div {
  background-image: url('../../assets/landing-bg.jpg');
  opacity: 0.5;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section.landing p {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3em;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  section.landing p {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 15px;
  }
}
/* ---------------------SCAN------------------------ */
section.scan {
  background: #d3af37;
  padding: 50px;
}

section.scan h3 {
  text-align: center;
}

.scan-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.scan-btn-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.scan-img-holder {
  width: 600px;
  height: auto;
  background-color: rgba(219, 219, 219, 255);
  border: 2px solid #a7a7a7;
  padding: 0;
  border-radius: 20px;
}

.scan-img-holder img {
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.scan-btn {
  width: 250px;
  height: 50px;
  background-color: #d3ad60;
  border-radius: 50px;
  color: #233237;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  outline: 0;
}

.scan-btn:active,
.scan-btn:focus {
  outline: 0;
}

.scan-btn:hover {
  background: #cc972c;
}

@media (max-width: 1150px) {
  .scan-container {
    flex-direction: column;
  }
  .img-holder {
    width: 90%;
    margin-top: 20px;
  }
}

/* ---------------------ABOUT------------------------ */

section.about {
  background: #046364;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.about-text-holder {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 5px 20px;
  gap: 30px;
}

.about-text-holder p {
  color: rgb(230, 224, 224);
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.image-rotate-holder {
  width: 40%;
}

.rotating-image {
  width: 90%;
  height: 90%;
}

/* ---------------------WWA------------------------ */
section.wwa {
  background: hotpink;
  height: 100vh;
}
