.home {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

h3,
h2 {
  padding-top: 50px;
  font-family: 'Lobster', sans-serif;
}

p {
  font-family: Rubik;
}
/* ---------------------LANDING------------------------ */
.landing {
  min-height: 100vh;
  background: url('../../assets/landing-bg.jpg') no-repeat center fixed;
  background-size: cover;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding-bottom: 20px;
}

.landing div {
  height: auto;
  margin: 15px 15px;
}
.landing p {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px 30px;
  width: 80%;
  color: #f2f2f2;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 15px;
  line-height: 2.5em;
}

p > h2 {
  color: #f2f2f2;
  font-weight: 500;
  font-size: 4rem;
  margin: 0;
  padding-top: 0;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .landing p {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

@media screen and (max-width: 970px) {
  .landing p {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 780px) {
  .landing p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 570px) {
  .landing p {
    font-size: 1.3rem;
    /* width: 80%; */
  }
}
@media screen and (max-width: 500px) {
  .landing p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 420px) {
  .landing p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 350 px) {
  .landing p {
    font-size: 0.9rem;
  }
}
/* @media screen and (max-width: 900px) and (max-height: 1024px) {
  .landing p {
    width: 80%;
    font-size: 1.5rem;
  }
} */
/* @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
} */
/* ---------------------SCAN------------------------ */
.scan {
  background: #cac0b4;
  min-height: 50vh;
  margin: 0 auto;
}

.scan h3 {
  padding-top: 10vh;
}

.scan-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex: 1;
  transition: all 500ms linear;
  padding-bottom: 5em;
}

.scan-btn-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.scan-img-holder {
  width: 200px;
  height: auto;
  margin-left: 150px;
  background-color: rgba(219, 219, 219, 255);
  border: 2px solid #a7a7a7;
  border-radius: 20px;
  margin-top: 80px;
  flex: 0.00001;
  -webkit-animation: flexGrow 0.5s ease forwards;
  -o-animation: flexGrow 0.5s ease forwards;
  animation: flexGrow 0.5s ease forwards;
}

/*image upload animation*/
@-webkit-keyframes flexGrow {
  to {
    flex: 0.5;
  }
}
@-o-keyframes flexGrow {
  to {
    flex: 0.5;
  }
}
@keyframes flexGrow {
  to {
    flex: 0.5;
  }
}
.scan-img-holder img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

@media (max-width: 1150px) {
  .scan-container {
    flex-direction: column;
  }
  .img-holder {
    width: 90%;
    margin-top: 20px;
  }
}

/* ---------------------ABOUT------------------------ */

.about {
  background: #9c420b;
  min-height: 100vh;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.about-text-holder {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 5px 20px;
  gap: 30px;
}

.about-text-holder p {
  color: rgb(230, 224, 224);
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.image-rotate-holder {
  width: 40%;
}

.rotating-image {
  width: 90%;
  height: 90%;
}

/* ---------------------WWA------------------------ */
.wwa {
  background: #046364;
  min-height: 100vh;
}

.wwa > * {
  text-align: center;
  color: #f2f2f2;
}

.wwa p {
  font-size: 1.5rem;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 15px;
}
.cards-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-bottom: 15px;
}
