@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --clr-auth-background-dark: #046364;
  --clr-auth-background-light: #0aeef2;

  --font-family: "Roboto", sans-serif;
}
* > h2 h3 p,
p > bold,
form > h3 {
  font-family: var(--font-family);
}

h3,
h2 {
  padding-top: 50px;
}
* > bold {
  font-weight: 500;
  font-size: 5rem;
  margin: 0;
  padding-top: 0;
}
/* 
p {
  font-family: Rubik;
} */
/* ---------------------LANDING------------------------ */
.landing {
  min-height: 100vh;
  background: linear-gradient(to bottom, var(--clr-auth-background-dark), var(--clr-auth-background-light));
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding-bottom: 20px;
}

.landing div {
  height: auto;
  margin: 15px 15px;
}
.landing p {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px 15px;
  width: 80%;
  color: #f2f2f2;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  border-radius: 15px;
  line-height: 2.5em;
  margin: 90px, 0px, 0px, 0px;
}

.landing-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.move-to-scan {
  width: 400px;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .landing p {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

@media screen and (max-width: 970px) {
  .landing p {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 780px) {
  .landing p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 570px) {
  .landing p {
    font-size: 1.3rem;
    /* width: 80%; */
  }
}
@media screen and (max-width: 500px) {
  .landing p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 420px) {
  .landing p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 350 px) {
  .landing p {
    font-size: 0.9rem;
  }
}

/* ---------------------SCAN------------------------ */
.scan {
  background: linear-gradient(to bottom, var(--clr-auth-background-light) 75%, var(--clr-auth-background-dark));
  min-height: 70vh;
  margin: 0 auto;
}

.scan h3 {
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 0;
}

.scan p {
  font-size: 1.5rem;
  text-align: center;
}

.scan-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex: 1;
  transition: all 500ms linear;
  padding-bottom: 5em;
}

.scan-btn-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.scan-img-holder {
  width: auto;
  height: 400px;
  margin-left: 10px;
  -webkit-animation: flexGrow 0.2s ease forwards;
  -o-animation: flexGrow 0.2s ease forwards;
  animation: flexGrow 0.2s ease forwards;
}

/*image upload animation*/
@-webkit-keyframes flexGrow {
  to {
    flex: 0.5;
  }
}
@-o-keyframes flexGrow {
  to {
    flex: 0.5;
  }
}
@keyframes flexGrow {
  to {
    flex: 0.5;
  }
}
.scan-img-holder img {
  position: relative;
  width: auto;
  height: 100%;
  border-radius: 20px;
}

@media (max-width: 1150px) {
  .scan-container {
    flex-direction: column;
  }
  .img-holder {
    width: 90%;
    margin-top: 20px;
  }
}
