header.MuiAppBar-root {
  background: #d3ad60;
}

div.navbar-holder {
  display: flex;
  flex-direction: row;
}

div.btnGroup {
  padding-top: 2px;
  display: flex;
  gap: 20px;
  padding-right: 20%;
  margin-left: auto;
  float: right;
}

img {
  padding-left: 10%;
  width: auto;
  height: 40px;
  float: left;
}

@media (max-width: 629px) {
  img {
    justify-self: center;
    width: 200px;
    height: auto;
  }

  div.navbar-holder {
    flex-direction: column;
    align-self: center;
  }

  div.btnGroup {
    padding-right: 0;
  }
}
